.journey {
    display: flex;
    flex-direction: column;

    app-journey-banner {
        position: sticky;
        top: 10px;
    }

    .journey-wrapper {
        padding-top: 1em;
        overflow-y: auto;
        flex: 1;
    }
}