@import 'src/_partials/_variables';

.journey {
    display: flex;
    flex-direction: column;

    app-journey-banner {
        position: sticky;
        top: 10px;
    }

    .journey-wrapper {
        padding-top: 1em;
        overflow-y: auto;
        flex: 1;

        > :not(.journey-stage-banner){
            margin-bottom:20px;
        }
    
        .journey-stage-banner {
            padding: 0.75em;
            cursor: default;
            font-size: larger;
            font-weight: bold;
    
            &.available {
                &:hover {
                    // Turning off hover for these banners
                    background-color: $selectable-colour;
                    color: $selectable-text;
                }
            }
        }
    }

}