@import '../../../_partials/_variables';

.journey-banner {
    display: flex;
    width: 100%;
    min-height: 1em;
    border-radius: 5px;
    box-shadow: $standard-shadow;
    z-index: 1000;

    div {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-grow:1;
        padding: 0px 10px;

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}