<div class="wrapper">
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/open.svg" alt="An open box"/>
          </div>
          <div class="card-contents">
              <h3>OPEN</h3>
              <div>A box without a lid. This is the cheapest and smallest option.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/clip-lid-back.svg" class="lid clip"/>
              <img src="/assets/images/lids/clip-box.svg" alt="An open box with notches for a lid to fit into"/>
              <img src="/assets/images/lids/clip-lid-mid.svg" class="lid clip"/>
              <img src="/assets/images/lids/clip-fore.svg"/>
              <img src="/assets/images/lids/clip-lid.svg" alt="A lid with notches in it" class="lid clip"/>
          </div>
          <div class="card-contents">
              <h3>CLIP</h3>
              <div>A box with a notched lid that clips into the box. The box has raised tabs that slot into the lid. This is 3mm taller.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/slab-box.svg" alt="An open box"/>
              <img src="/assets/images/lids/slab-lid-back.svg" class="lid slab"/>
              <img src="/assets/images/lids/slab-fore.svg"/>
              <img src="/assets/images/lids/slab-lid.svg" alt="A flat lid" class="lid slab"/>
          </div>
          <div class="card-contents">
              <h3>SLAB</h3>
              <div>A box with a flat lid. The lid has two layers, one that fits on top of the box and one that sits inside it. This is 6mm taller.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/telescope-box.svg" alt="An open box"/>
              <img src="/assets/images/lids/telescope-lid.svg" alt="A slip on lid" class="lid telescope"/>
          </div>
          <div class="card-contents">
              <h3>TELESCOPE</h3>
              <div>A box with a slip on lid. This is 3mm taller, 7mm longer and 7mm wider.</div>
          </div>
      </div>
  </div>
</div>
<hr/>
<div class="wrapper">
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/open-bp.svg" alt="An open box" class="blue"/>
          </div>
          <div class="card-contents">
              <h3>OPEN</h3>
              <div>A box without a lid. This is the cheapest and smallest option.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/clip-bp-box.svg" alt="An open box with notches for a lid to fit into" class="blue"/>
              <img src="/assets/images/lids/clip-bp-lid-mid.svg" class="lid clip"/>
              <img src="/assets/images/lids/clip-bp-fore.svg"/>
              <img src="/assets/images/lids/clip-bp-lid.svg" alt="A lid with notches in it" class="lid clip"/>
          </div>
          <div class="card-contents">
              <h3>CLIP</h3>
              <div>A box with a notched lid that clips into the box. The box has raised tabs that slot into the lid. This is 3mm taller.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/slab-bp-box.svg" alt="An open box" class="blue"/>
              <img src="/assets/images/lids/slab-bp-lid-back.svg" class="lid slab"/>
              <img src="/assets/images/lids/slab-bp-fore.svg"/>
              <img src="/assets/images/lids/slab-bp-lid.svg" alt="A flat lid" class="lid slab"/>
          </div>
          <div class="card-contents">
              <h3>SLAB</h3>
              <div>A box with a flat lid. The lid has two layers, one that fits on top of the box and one that sits inside it. This is 6mm taller.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/telescope-bp-box.svg" alt="An open box" class="blue"/>
              <img src="/assets/images/lids/telescope-bp-lid.svg" alt="A slip on lid" class="lid telescope"/>
          </div>
          <div class="card-contents">
              <h3>TELESCOPE</h3>
              <div>A box with a slip on lid. This is 3mm taller, 7mm longer and 7mm wider.</div>
          </div>
      </div>
  </div>
</div>
<hr/>
<div class="wrapper">
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/open-bp.svg" alt="An open box" class="graph-paper"/>
          </div>
          <div class="card-contents">
              <h3>OPEN</h3>
              <div>A box without a lid. This is the cheapest and smallest option.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/clip-bp-box.svg" alt="An open box with notches for a lid to fit into" class="graph-paper"/>
              <img src="/assets/images/lids/clip-bp-lid-mid.svg" class="lid clip"/>
              <img src="/assets/images/lids/clip-bp-fore.svg"/>
              <img src="/assets/images/lids/clip-bp-lid.svg" alt="A lid with notches in it" class="lid clip"/>
          </div>
          <div class="card-contents">
              <h3>CLIP</h3>
              <div>A box with a notched lid that clips into the box. The box has raised tabs that slot into the lid. This is 3mm taller.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/slab-bp-box.svg" alt="An open box" class="graph-paper"/>
              <img src="/assets/images/lids/slab-bp-lid-back.svg" class="lid slab"/>
              <img src="/assets/images/lids/slab-bp-fore.svg"/>
              <img src="/assets/images/lids/slab-bp-lid.svg" alt="A flat lid" class="lid slab"/>
          </div>
          <div class="card-contents">
              <h3>SLAB</h3>
              <div>A box with a flat lid. The lid has two layers, one that fits on top of the box and one that sits inside it. This is 6mm taller.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/telescope-bp-box.svg" alt="An open box" class="graph-paper"/>
              <img src="/assets/images/lids/telescope-bp-lid.svg" alt="A slip on lid" class="lid telescope"/>
          </div>
          <div class="card-contents">
              <h3>TELESCOPE</h3>
              <div>A box with a slip on lid. This is 3mm taller, 7mm longer and 7mm wider.</div>
          </div>
      </div>
  </div>
</div>
<hr/>
<div class="wrapper">
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/open.svg" alt="An open box" class="graph-paper"/>
          </div>
          <div class="card-contents">
              <h3>OPEN</h3>
              <div>A box without a lid. This is the cheapest and smallest option.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/clip-box.svg" alt="An open box with notches for a lid to fit into" class="graph-paper"/>
              <img src="/assets/images/lids/clip-lid-mid.svg" class="lid clip"/>
              <img src="/assets/images/lids/clip-fore.svg"/>
              <img src="/assets/images/lids/clip-lid.svg" alt="A lid with notches in it" class="lid clip"/>
          </div>
          <div class="card-contents">
              <h3>CLIP</h3>
              <div>A box with a notched lid that clips into the box. The box has raised tabs that slot into the lid. This is 3mm taller.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/slab-box.svg" alt="An open box" class="graph-paper"/>
              <img src="/assets/images/lids/slab-lid-back.svg" class="lid slab"/>
              <img src="/assets/images/lids/slab-fore.svg"/>
              <img src="/assets/images/lids/slab-lid.svg" alt="A flat lid" class="lid slab"/>
          </div>
          <div class="card-contents">
              <h3>SLAB</h3>
              <div>A box with a flat lid. The lid has two layers, one that fits on top of the box and one that sits inside it. This is 6mm taller.</div>
          </div>
      </div>
  </div>
  <div class="grid-box">
      <div class="card">
          <div class="image-wrapper">
              <img src="/assets/images/lids/telescope-box.svg" alt="An open box" class="graph-paper"/>
              <img src="/assets/images/lids/telescope-lid.svg" alt="A slip on lid" class="lid telescope"/>
          </div>
          <div class="card-contents">
              <h3>TELESCOPE</h3>
              <div>A box with a slip on lid. This is 3mm taller, 7mm longer and 7mm wider.</div>
          </div>
      </div>
  </div>
</div>
<router-outlet></router-outlet>
