@import './_partials/_variables';
@import './_partials/_mixins';

@font-face {
	font-family: montserrat;
	src: url('./assets/fonts/montserrat/Montserrat-ExtraBold.otf');
	font-weight: 900;
}

@font-face {
	font-family: montserrat;
 	src: url('./assets/fonts/montserrat/Montserrat-Regular.otf');
}

* {
	font-family: montserrat;
}

html {
    background-color: $background-colour;
}

.selected {
    @include graph-paper;
    color: $selected-text;
}

.disabled {
    cursor: not-allowed;
    background-color: $disabled-colour;
    color: $disabled-text;
}

.available {
    cursor: pointer;
    background-color: $selectable-colour;
    color: $selectable-text;
    &:hover {
        background-color: $hovering-colour;
        color: $hovering-text;
    }
}

.list-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1300px;
}

.grid-box {
    display:flex;
    width: 90vw;

    &.grid-4 {
        max-width: 280px;
    }
    &.grid-3 {
        max-width: 400px;
    }
    
    // Angular components inside gridboxes were ignoring the flex property.
    & > :not(div){
        display: flex;
    }

    .card {        
        flex: 1;
        margin: 10px;
        flex-direction: column;    
        border-radius: 4px;
        overflow: hidden;

        background-color: $selectable-colour;        
        color: $selectable-text;

        box-shadow: $standard-shadow;
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);

        &:hover {
            box-shadow: $shadow;	
        }

        .image-wrapper {
            position: relative;

            //Not sure why this is needed...
            margin-bottom: -4px;

            img {
                width: 100%;
                object-fit: cover;

                &:not(:first-child) {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }
        }
        
        .card-contents {
            text-align: justify;

            div {
                padding: 10px 20px 10px 20px;
            }

            .card-title {
                font-size: large;
                font-weight: bold;
                line-height: 1.75;                
            }

            .card-description {
                line-height: 1.5;
            }
            
            .card-warning {
                background-color: pink !important;
                color: red !important;
            }
        }
    }
}