@import './_partials/_variables';
@import './_partials/_mixins';

@font-face {
	font-family: montserrat;
	src: url('./assets/fonts/montserrat/Montserrat-ExtraBold.otf');
	font-weight: 900;
}

@font-face {
	font-family: montserrat;
 	src: url('./assets/fonts/montserrat/Montserrat-Regular.otf');
}

* {
	font-family: montserrat;
}

.selected {
    @include graph-paper;
    color: white;
}

.disabled {
    cursor: not-allowed;
    color: $disabled-colour;
}

.available {
    cursor: pointer;
    background-color: $pale-blue;
    &:hover {
        background-color: $blue;
        color: white
    }
}