@import './_partials/_variables';
@import './_partials/_mixins';

@font-face {
	font-family: montserrat;
	src: url('./assets/fonts/montserrat/Montserrat-ExtraBold.otf');
	font-weight: 900;
}

@font-face {
	font-family: montserrat;
 	src: url('./assets/fonts/montserrat/Montserrat-Regular.otf');
}

* {
	font-family: montserrat;
}

html {
    background-color: $background-colour;
}

.selected {
    @include graph-paper;
    color: $selected-text;
}

.disabled {
    cursor: not-allowed;
    background-color: $disabled-colour;
    color: $disabled-text;
}

.available {
    cursor: pointer;
    background-color: $selectable-colour;
    color: $selectable-text;
    &:hover {
        background-color: $hovering-colour;
        color: $hovering-text;
    }
}